.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow:none;
}
input[type="password"]:focus{
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow:none;
}
input[type="text"]:focus{
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow:none;
}


input[type="text"]{
    color: #212529;
    background-color: #fff;
    border-color: grey;
    outline: 0;
    box-shadow:none;
    border:1px solid grey;
    border-radius:5px
}
#button1[type="submit"]:focus{
    color: #212529;
    border-color: black;
    outline: 0;
    box-shadow:none;
}
#shadow{
    margin-left:200px;
    margin-top:200px;

}
@media(max-width:768px){
    #shadow{
        transform:translate(-50%);
           }
}
.aboutus{
    display:flex;
    justify-content:space-around;
    



}
.aboutusColumn-1{
    background-image: url("5098293.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height:500px;
    border-radius: 15px 50px;
    border:2px solid orange
}
.aboutusColumn-2{
    display:block;
    margin-top:10px;
    width:100%;
    min-height:500px;
   padding:10px;
   margin-top:9rem
    
}
@media(max-width:500px){
.aboutus{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
}
@media(max-width:768px){
    .aboutusColumn-1{
        display: none;
    }
}

h1{
    font-family: 'Frank Ruhl Libre', serif;
}
.link{
    display:inline-flex;
    margin-left:2px;
    padding:5px
}